
    

  <div class="wrapper">
    <h1>Finance Logger</h1>

    <!-- output list -->
    <ul class="item-list" id="list" *ngFor='let entry of entries;let index=index'>
      <li  *ngIf="entry.type==='Payment'" >
  
        {{entry.ToFrom}} is owed {{entry.Amount}} for {{entry.Details}}
        <i class="fa fa-trash-o del" style="font-size:24px;color:red" (click)="delete(index)" id="{{'Del'+index}}"></i>
        <i class='fa fa-pencil edit' (click)="edit(index)" style='font-size:24px' id="{{'Id'+index}}"></i>
        <!-- <button class='edit' (click)="edit(index)">Edit Entry</button> -->
      </li>
     

      <li  *ngIf="entry.type==='Invoice'" >
  
        {{entry.ToFrom}} owes {{entry.Amount}} for {{entry.Details}}
        <i class="fa fa-trash-o del" style="font-size:24px;color:red" (click)="delete(index)" id="{{'Del'+index}}"></i>
        <i class='fa fa-pencil edit' (click)="edit(index)" style='font-size:24px' id="{{'Id'+index}}"></i>

      </li>

     
    </ul>
  </div>

  <footer>
    <form class="new-item-form">
      <div class="field">
        <label>Type:</label>
        <select id="type" [(ngModel)]='type' name='type'>
          <option value="Invoice">Invoice</option>
          <option value="Payment">Payment</option>
        </select>
      </div>
      <div class="field">
        <label>To / From:</label>
        <input type="text" name="tofrom" [(ngModel)]='ToFrom'>
      </div>   
      <div class="field">
        <label>Details:</label>
        <input type="text" name="details" [(ngModel)]='Details'>
      </div>
      <div class="field">
        <label>Amount (£):</label>
        <input type="text" name="amount" [(ngModel)]='Amount' id='amt'> 
      </div>
      <div class="field"><i class="gg-add-r test" *ngIf='!bool3' (click)="add()" id='add'></i></div>
      <div class="field"><i class="gg-add-r test" *ngIf='bool3' (click)="addEdited(index)" id='addEdited'></i></div>
      <div class="field2"><br>
        <button class='button'type="reset" (click)="remove()" *ngIf='!bool2'>Clear All</button>
        <button class='button'type="reset" (click)="undo()" *ngIf='bool'>Undo Delete</button>
        <button class='button' type="reset" (click)="undoAll()" *ngIf='bool2'>Undo Clear All</button>
      </div>
      <!-- <i class="fa fa-trash-o" style="font-size:24px;color:red"></i> -->
    </form>

    <a href="https://github.com/deev1207/Finance-Logger" target="_blank">GitHub Link</a>
  </footer>

  <script type='module' src='app.js'></script>
 
    
